<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Réservations</title>
</head>
<body>
  <%- include('partials/navbar') %>

<h1>Gestion des Réservations</h1>
<form class="detail-form" action="" method="POST">
  <h3>Modifier cette réservation :</h3>
  <input type="text" name="clientName" value="<%= booking.clientName %>" required><br>
  <input type="text" name="boatName" value="<%= booking.boatName %>" required><br>
  <input type="date" name="startDate" value="<%= new Date(booking.startDate).toISOString().split('T')[0] %>" required><br>
  <input type="date" name="endDate" value="<%= new Date(booking.endDate).toISOString().split('T')[0] %>" required><br>
  <button type="submit">Modifier</button>
</form>

  <%- include('partials/footer') %>
</body>
</html>
