<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Détail de la passerelle</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <main>
    <h1 class="hero"><i class="fas fa-info-circle"></i> Informations de la passerelle n° <%= catway.catwayNumber %></h1>

    <div class="bloc-section">
      <div class="info-catway">
        <h3><i class="fas fa-info-circle"></i> Détails de la passerelle</h3>
        <p><strong>Numéro :</strong> <%= catway.catwayNumber %></p>
        <p><strong>Type :</strong> <%= catway.catwayType %></p>
        <p><strong>État :</strong> <%= catway.catwayState %></p>
    
        <h3><i class="fas fa-edit"></i> Modifier/supprimer la passerelle n° <%= catway.catwayNumber %></h3>
        <form class="modify-form" action="/api/catways/<%= catway._id %>?_method=PUT" method="POST">
          <label for="catwayNumber">Numéro de la passerelle :</label>
          <input type="text" name="catwayNumber" value="<%= catway.catwayNumber %>" required>
          <label for="catwayType">Type :</label>
          <input type="text" name="catwayType" value="<%= catway.catwayType %>" required>
          <label for="catwayState">État :</label>
          <input type="text" name="catwayState" value="<%= catway.catwayState %>" required>
          <button type="submit" class="btn-secondary">Modifier le passerelle</button>
        </form>
        <form action="/api/catways/<%= catway._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirmer la suppression ?');">
          <button type="submit" class="btn-primary">Supprimer la passerelle</button>
        </form>
      </div>
      <div class="info-box">
        <h3>Ajouter une réservation</h3>
        <form class="styled-form" action="/api/catways/<%= catway._id %>/bookings" method="POST">
          <input type="hidden" name="catwayNumber" value="<%= catway.catwayNumber %>">

          <label>Nom du client</label>
          <input type="text" name="clientName" required>

          <label>Nom du bateau</label>
          <input type="text" name="boatName" required>

          <label>Date de début</label>
          <input type="date" name="startDate" required>

          <label>Date de fin</label>
          <input type="date" name="endDate" required>

          <button type="submit" class="btn-secondary">Ajouter</button>
        </form>
      </div>
    </div>

    <div class="table-box">
      <h2>Réservation(s) associée(s)</h2>

      <% if (bookings.length > 0) { %>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Utilisateur</th>
              <th>Bateau</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% bookings.forEach(b => { %>
              <tr>
                <td><%= b.clientName %></td>
                <td><%= b.boatName %></td>
                <td><%= new Date(b.startDate).toLocaleDateString('fr-FR') %></td>
                <td><%= new Date(b.endDate).toLocaleDateString('fr-FR') %></td>
                <td class="actions">
                  <a href="/catways/<%= catway._id %>/bookings/<%= b._id %>"><button class="btn-secondary">Voir</button></a>
                  <form action="/api/catways/<%= catway._id %>/bookings/<%= b._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirmer la suppression ?');" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p>Aucune réservation pour cette passerelle.</p>
      <% } %>
    </div>
    <a href="/catways" class="btn-secondary">Retour à la liste</a>
    
  </main>

  <%- include('partials/footer') %>
</body>
</html>
