<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Gestion des passerelles</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <main>
    <div class="hero">
      <h1><i class="fas fa-water"></i> Gestion des passerelles</h1>
      <p>Ajoutez, consultez et gérez les passerelles du port de plaisance Russell. Utilisez le formulaire ci-dessous pour en créer une nouvelle passerelle.</p>
    </div>

    <div class="bloc-section">
      <div class="table-box">

        <h2><i class="fas fa-water"></i> Créer une nouvelle passerelle</h2>
        <form id="new-passerelle-form" class="create-form" action="/catways" method="POST">
          <label for="passerelleNumber">Numéro de la passerelle :</label>
          <input type="text" id="passerelleNumber" name="catwayNumber" required>

          <label for="passerelleType">Type :</label>
          <input type="text" id="passerelleType" name="catwayType" required>

          <label for="passerelleState">État :</label>
          <input type="text" id="passerelleState" name="catwayState" required>

          <button type="submit" class="btn-secondary"><i class="fas fa-plus-circle"></i> Créer la passerelle</button>
        </form>
      </div>

      <div class="table-box">
        <h2><i class="fas fa-list"></i> Liste des Passerelles</h2>
        <% if (catways.length > 0) { %>
          <table class="data-table">
            <thead>
              <tr>
                <th><i class="fas fa-hashtag"></i> Numéro</th>
                <th><i class="fas fa-tag"></i> Type</th>
                <th><i class="fas fa-traffic-light"></i> État</th>
                <th><i class="fas fa-cogs"></i> Actions</th>
              </tr>
            </thead>
            <tbody>
              <% catways.forEach(p => { %>
                <tr onclick="window.location.href='/catways/<%= p._id %>'">
                  <td><%= p.catwayNumber %></td>
                  <td><%= p.catwayType %></td>
                  <td><%= p.catwayState %></td>
                  <td><a href="/catways/<%= p._id %>" class="btn-secondary"><i class="fas fa-eye"></i> Voir</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else { %>
          <p>Aucune passerelle enregistrée pour le moment.</p>
        <% } %>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
