<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Catways</title>
</head>
<body>
  <%- include('partials/navbar') %>

<h1>Gestion des Catways</h1>
<form id="new-catway-form" action="/catways" method="POST">
    <label>Numéro du Catway:</label><br>
    <input type="text" name="catwayNumber" required><br>

    <label>Type:</label><br>
    <input type="text" name="catwayType" required><br>

    <label>État:</label><br>
    <input type="text" name="catwayState" required><br>

    <button type="submit">Créer</button>
  </form>

<h2>Liste des Catways</h2>

  <table>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Longueur</th>
        <th>État</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% catways.forEach(c => { %>
        <tr onclick="window.location.href='/catways/<%= c._id %>'">
          <td><%= c.catwayNumber %></td>
          <td><%= c.catwayType %></td>
          <td><%= c.catwayState %></td>
          <td class="actions">
            <a href="/catways/<%= c._id %>"><button>Voir</button></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <%- include('partials/footer') %>
</body>
</html>